#DB_Driver|DB_URL|USER|PWD|TBL_NAME:COL_NAME,TBL_NAME2:COL_NAME2|COMMENTS
com.mysql.jdbc.Driver|jdbc:mysql://localhost/EMP|admin|sdksf2-r3irsdn2|MAL_URL|hash_code,url_val|Malware Url Table
com.mysql.jdbc.Driver|jdbc:mysql://localhost/EMP|Iamadmin|asdgtrthgtr23535&*&^%|MAL_URL|hash_code,url_val|Malware Url Table
